@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url(header.css);
@import url(chat.css);


body {
    height: 50%;
    margin: 0;
    padding: 0;
    font-family: 'Judson', serif;
    /* background: linear-gradient(to bottom, #29104A, #845162, #c79590, #FFE3D8); */
    /* color: #ffffff; */
}
.editor{
    border: 1px solid black;
    height: 30px;
    width: 500px;
    border-radius: 5px;
    font-size: 20px
}